@model MVC_Company.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="container main center">
    <h1>Create</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" id="files" asp-for="Image" required/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Intro" class="control-label"></label>
                    <input asp-for="Intro" class="form-control" required/>
                    <span asp-validation-for="Intro" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none">
                    <label asp-for="SocialMedia.EmployeesRef" class="control-label"></label>
                    <input asp-for="SocialMedia.EmployeesRef" class="form-control" />
                    <span asp-validation-for="SocialMedia.EmployeesRef" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</section>