<section id="bottom" class="main">
    <!--Container-->
    <div class="container">
        <!--row-fluids-->
        <div class="row-fluid">
            <!--Contact Info-->
            <div class="span3">
                <h4>CONTACT US</h4>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong>Address:</strong> Carrera 7 # 72-01<br>Bogotá D.C., Colombia
                    </li>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> <a href="mailto:company@domain.com">company@domain.com</a>
                    </li>
                    <li>
                        <i class="icon-globe"></i>
                        <strong>Website:</strong> <a href="http://www.domain.com">www.domain.com</a>
                    </li>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Telephone:</strong> 123-456-7890
                    </li>
                </ul>
            </div>
            <!--End Contact Info-->
            <!--Important Links-->
            <div id="tweets" class="span3">
                <h4>COMPANY NAME</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Erro 404</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <!--Important Links-->
            <div id="archives" class="span2">
                <h4>ARCHIVES</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">Link No. 1</a></li>
                        <li><a href="#">Link No. 2</a></li>
                        <li><a href="#">Link No. 3</a></li>
                        <li><a href="#">Link No. 4</a></li>
                        <li><a href="#">Link No. 5</a></li>
                        <li><a href="#">Link No. 6</a></li>
                    </ul>
                </div>
            </div>
            <!--End Links-->
            <div class="span4">
                <h4>FACEBOOK</h4>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=130&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
        <!--/row-fluid-->
    </div>
    <!--/container-->
</section>