<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewData["Title"] MVC Company</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sl-slide.css">
    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
    <script src="/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.ba-cond.min.js"></script>
    <script src="/js/jquery.slitslider.js"></script>

</head>
<body>
    @{Html.RenderPartial("_NavBar");}
    @RenderBody()
    @{Html.RenderPartial("_Bottom");}
    @{Html.RenderPartial("_Footer");}

</body>

 </html>
