@model MVC_Company.Models.SocialMedia

@{
    ViewData["Title"] = "SocialMediaEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="container main center">
    <h1>SocialMediaEdit</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SocialMediaEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdSocialMedia" />
                <div class="form-group">
                    <label asp-for="Facebook" class="control-label"></label>
                    <input asp-for="Facebook" class="form-control" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Google" class="control-label"></label>
                    <input asp-for="Google" class="form-control" />
                    <span asp-validation-for="Google" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Twitter" class="control-label"></label>
                    <input asp-for="Twitter" class="form-control" />
                    <span asp-validation-for="Twitter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Linkedin" class="control-label"></label>
                    <input asp-for="Linkedin" class="form-control" />
                    <span asp-validation-for="Linkedin" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none">
                    <label asp-for="EmployeesRef" class="control-label"></label>
                    <input asp-for="EmployeesRef" class="form-control" />
                    <span asp-validation-for="EmployeesRef" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <a asp-action="SocialMedia">Back to List</a>
    </div>
</section>
