<section id="portfolio" class="container main">
    <ul class="gallery col-4">
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item1.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-1"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-1" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item1.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item2.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-2"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-2" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item2.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item3.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-3"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-3" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item3.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item4.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-4"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-4" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item4.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item5.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-5"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-5" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item5.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item6.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-6"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-6" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item6.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item1.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-7"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-7" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item1.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item5.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-8"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-8" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item5.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item1.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-9"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-9" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item1.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item2.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-10"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-10" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item2.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item3.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-11"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-11" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item3.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
        <li>
            <div class="preview">
                <img alt=" " src="/images/portfolio/thumb/item4.jpg">
                <div class="overlay">
                </div>
                <div class="links">
                    <a data-toggle="modal" href="#modal-12"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
            </div>
            <div class="desc text-center">
                <h5>Lorem ipsum dolor sit amet</h5>
                <small>Portfolio item short description</small>
            </div>
            <div id="modal-12" class="modal hide fade">
                <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                <div class="modal-body">
                    <img src="/images/portfolio/full/item4.jpg" alt=" " width="100%" style="max-height:400px">
                </div>
            </div>
        </li>
    </ul>
</section>