<section class="services">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-facetime-video icon-large"></i>
                    <p> </p>
                    <h4>Nunc Ante Magna</h4>
                    <p>Duis non tincidunt ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sit amet dui turpis. Sed luctus, leo ac ornare vulputate, metus neque feugiat massa, a porttitor est sem at metus. Nunc ante magna, aliquet vel tincidunt ut, feugiat id lorem.</p>
                </div>
            </div>
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-food icon-large"></i>
                    <p> </p>
                    <h4>Duis Rhoncus Felis Dui</h4>
                    <p>Praesent viverra vulputate augue, hendrerit volutpat nisi tempus id. Duis vitae laoreet lacus. Vivamus semper nisi sem, accumsan tristique felis facilisis non. Vivamus egestas lacus sed bibendum aliquam. Vivamus imperdiet risus eget lacinia rhoncus. Duis rhoncus felis dui. Interdum et malesuada fames.</p>
                </div>
            </div>
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-gamepad icon-large"></i>
                    <p> </p>
                    <h4>Nunc Varius Nisi</h4>
                    <p>Cras ac felis vehicula, mattis diam eu, placerat ex. Donec mauris ante, feugiat in massa et, rhoncus iaculis tellus. Nunc varius nisi et risus blandit placerat. Cras ac aliquet elit, vitae faucibus mi. Donec pharetra nulla eget luctus tristique. In hac habitasse platea dictumst. Donec posuere diam turpis.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-magic icon-large"></i>
                    <p> </p>
                    <h4>Vestibulum Ultrices</h4>
                    <p>Nulla in metus vitae neque venenatis pharetra nec eu velit. Proin elit nulla, iaculis a tortor at, gravida ultricies orci. Vestibulum ultrices nunc eget scelerisque tincidunt. Integer pulvinar iaculis est eget dapibus, at dignissim ipsum fermentum. Mauris eu iaculis lacus. Etiam nec congue lectus. </p>
                </div>
            </div>
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-puzzle-piece icon-large"></i>
                    <p> </p>
                    <h4>Suspendisse Semper</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ultrices sem eu iaculis commodo. Suspendisse semper porta magna at faucibus. Donec aliquam, nisi ac faucibus laoreet.</p>
                </div>
            </div>
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-shopping-cart icon-large"></i>
                    <p> </p>
                    <h4>Mauris Arcu Tellus</h4>
                    <p>Donec nec massa ornare, volutpat diam eu, eleifend lorem. Cras laoreet nulla elit, quis bibendum lectus lacinia sit amet. Praesent nec quam nunc. Mauris arcu tellus, aliquet non rhoncus non, ornare id dui. Sed ac porta ante, id aliquam lectus. Proin malesuada eu arcu at tempor. Nulla a tellus lorem.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="center">
            <a class="btn btn-primary btn-large" href="#">Aenean quis mauris efficitur justo gravida accumsan vitae sed neque</a>
        </div>
        <p>&nbsp;</p>
    </div>
</section>