
<section id="clients" class="main">
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <div class="clearfix">
                    <h4 class="pull-left">PHASELLUS RUTRUM LAOREET</h4>
                    <div class="pull-right">
                        <a class="prev" href="#myCarousel" data-slide="prev"><i class="icon-angle-left icon-large"></i></a> <a class="next" href="#myCarousel" data-slide="next"><i class="icon-angle-right icon-large"></i></a>
                    </div>
                </div>
                <p>Aenean libero ipsum, pellentesque eu lacus eget, sodales accumsan eros. Nunc ut leo commodo.</p>
            </div>
            <div class="span10">
                <div id="myCarousel" class="carousel slide clients">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <div class="row-fluid">
                                <ul class="thumbnails">
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client1.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client2.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client3.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client4.png"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row-fluid">
                                <ul class="thumbnails">
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client4.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client3.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client2.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client1.png"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row-fluid">
                                <ul class="thumbnails">
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client1.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client2.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client3.png"></a></li>
                                    <li class="span3"><a href="#"><img src="/images/sample/clients/client4.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Carousel items -->
                </div>
            </div>
        </div>
    </div>
</section>