<section class="main-info">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <h4>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</h4>
                <p class="no-margin">Ut ultrices eu nunc vitae scelerisque. Praesent sollicitudin accumsan diam, sed tristique diam sodales ut. Ut volutpat tempor dignissim.</p>
            </div>
            <div class="span3">
                <a class="btn btn-success btn-large pull-right" href="#">Nulla ornare varius</a>
            </div>
        </div>
    </div>
</section>