<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a id="logo" class="pull-left"></a>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav">
                    <li class="active"><a href ="~/Home/Home">Home</a></li>
                    <li><a href ="~/Home/AboutUs">About Us</a></li>
                    <li><a href ="~/Home/Services">Services</a></li>
                    <li><a href ="~/Home/Portfolio">Portfolio</a></li>
                    <li><a href ="~/Home/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>